{% extends "base.html" %}
{%block title%}
<title>用户密码修改</title>
{% endblock %}


{% block main %}

{% url 'register-view' as register_url %}
{{ confirm }}
<div id="blog-login">
  <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">修改密码：</h3>
        </div>
        <br>
    <form id="vmaig-auth-register-form" class="form-horizontal clearfix" method="post" action="">
         {% csrf_token %}
            {% if errors %}
               {% for error in errors %}

                    {% if error %}
                   <p style="color: rgba(252, 37, 12, 0.93)">{{error}}</p>
                    {% endif %}

                {% endfor %}
            {% endif %}
            <div class="form-group">
                {{form.old_password.errors}}
                <label for="vmaig-auth-register-username" class="col-sm-3 control-label">旧密码：</label>
                <label>{{ confirm }}</label>
                <div class="col-sm-7">
                    {% csrf_token %}
                   {{form.old_password}}
                </div>
            </div>
            <div class="form-group">
                {{form.new_password1.errors}}
                <label class="col-sm-3 control-label">新密码：</label>
                <div class="col-sm-7">
                    {% csrf_token %}
                    {{form.new_password1}}
                </div>
            </div>
         <div class="form-group">
                {{form.new_password2.errors}}
                <label class="col-sm-3 control-label">确认密码：</label>
                <div class="col-sm-7">
                    {% csrf_token %}
                    {{form.new_password2}}
                </div>
            </div>
               <button type="submit" class="btn btn-primary pull-right">提交</button>
        </form>
  </div>
</div>

 {% endblock %}