<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form class="form-inline" action="" method="get">
        <div class="form-group">
         <label for="exampleInputName2">开始日期：&nbsp;</label>
        <input type="date" class="form-control" id="date01" name="start" value="{{ start }}">
        </div>

        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">查询</button>
</form>
<p>{{current}}</p>
</body>
</html>