{% extends "base.html" %}
{%block title%}
<title>{{website_title}}</title>
{% endblock %}


{% block blogheader %}
         {% if not keyword %}
                {% include "include/backheader.html"%}
                {% include "include/ourlife.html"%}
                {% include "include/carousel.html"%}
            {% endif %}

{% endblock %}

{% block main %}
<div class="row">


    <div class="col-md-8 col-lg-9">
        <!-- 首页文章列表 -->
        <div id="main-content">
            <!--首页文章列表，如果有关键词的时候才会显示-->
            {% if article_list %}
                {% with post_list=article_list %}
                {% for post in post_list %}
                    {% include "include/home_post.html" %}
                {% endfor %}
                {% endwith %}

                <!--分页 -->
                {% if page_obj%}
                    {% if not keyword %}
                        {% include "include/pagination.html"%}
                    {% else %}
                        {% include "include/keywordpagination.html"%}
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="row">
                    <div id="index-cat" class="col-md-6">
                        {% include "include/mylatest_articles.html"%}
                        {% include "include/mydjango.html"%}
                        {% include "include/mydairy.html"%}
                        {% include "include/youxiuwenzhang.html"%}
                    </div>
                    <div class="col-md-6">
                        {% include "include/myhottest_articles.html"%}
                        {% include "include/myweb.html"%}
                        {% include "include/mingrenzuopin.html"%}
                        {% include "include/jingdianyulu.html"%}

                    </div>
                </div>
            {% endif %}
        </div>
    </div>


    <!-- 右边的sidebar -->
    <div class="col-md-4 col-lg-3 hidden-xs">
      {% include "include/search.html"%}
       {% include "include/author_info.html"%}
      {# {% include "include/hottest_articles.html"%} #}
      {% include "include/categories.html"%}
       {% include "include/latest_comments.html"%}
        {% include "include/weiboshow.html"%}


    </div>
</div>
{% endblock %}
