<div class="row">
<div id="lifeid" class="life-row">
        <div class="col-md-5 col-xs-6 col-sm-4">
          <img id="firstimg" class="img-circle" src="/static/img/mylove.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>我们的爱情</h2>
          <p>我们于2002年相识，2005年相恋，一直携手相伴走到现在。在即将迎来我们的第十一个周年纪念日的时候，我们要结婚了。我们的爱情又更进了一步......</p>
          <p><a class="btn btn-primary" href="/article/ourtruelove.html" role="button">继续阅读 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4 col-xs-6 col-sm-4">
          <img class="img-circle" src="/static/img/basket.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>篮球</h2>
          <p>篮球已融入到我的血液，我可以因为篮球掉过门牙，崴过脚踝，缝过针，而我的篮球的爱却不会因为这些有丝毫的退减。人生短暂，能做要自己喜欢做的事已足矣！</p>
          <p><a class="btn btn-primary" href="/article/basketballandme.html" role="button">继续阅读 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-3 col-xs-6 col-sm-4">
          <img class="img-circle" src="/static/img/mylife.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>生活</h2>
          <p>及时行乐是一种人生态度，没有对与错，只需追寻自己内心的声音。</p>
          <p><a class="btn btn-primary" href="/article/lifemood.html" role="button">继续阅读 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

</div>
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">