<ul class="pagination pagination-centered pagination-medium">
        <li><a href="?page=1">首页 </a></li>
    {% if  page_obj.has_previous %}
        <li class="abled">
            <a href="?page={{page_obj.previous_page_number}}"> 上一页</a>
        </li>
    {% else %}
        <li class="disabled">
            <a>上一页</a>
        </li>
    {% endif %}
    {% for page in paginator.page_range %}
     {% if page != page_obj.number %}
        <li><a href="?page={{page}}">{{page}} </a></li>
    {% else %}
     <li class="active"><a>{{page}}</a></li>
    {% endif %}
    {% endfor %}


    {% if  page_obj.has_next%}
        <li class="abled">
            <a href="?page={{page_obj.next_page_number}}">下一页</a>
        </li>
    {% else %}
        <li class="disabled">
            <a>下一页 </a>
        </li>
    {% endif %}
            <li><a href="?page={{paginator.num_pages}}">末页</a></li>
</ul>