    <div class="row">
     <div id="article-content" class="col-md-12">
          <div id="article-page" class="well">
            <div id="article">
    <h1 class="blog-title" style="font-family: STXingkai ">插广告啦！联通秋季手机卡促销活动！</h1>
            <p class="lead blog-description" style="font-family: STkaiti;font-size:21px">  本人还是联通员工，所以帮公司宣传！^_^！ 联通校园营销开始啦！200打一年，300打两年。头三个月每月7G流量，三月后，每个月4G流量。此外，每月还有200分钟免费语音。实在太优惠了！请大家广而告之。目前有888,666,555;尾号88，123，567等靓号，详情请点下面链接查看。 </p></p>

                <p><a style="font-size: 18px" href="/chinaunicom/">套餐详情</a>，或者直接扫下方二维码选靓号购买！赶紧行动吧！靓号不要错过哈！</p>

                <img src="http://dailyblog-dailyblog.stor.sinaapp.com/%E5%8C%97%E4%BA%AC%E6%A0%A1%E5%9B%AD%E5%8D%A1%E9%80%9A%E4%BF%A1%E6%9C%8D%E5%8A%A1%E5%B9%B3%E5%8F%B0_%E7%8E%8B%E6%B5%B7%E6%B3%A2_%E8%AE%BF%E9%97%AE%E9%93%BE%E6%8E%A5.jpg">

                </div>
              </div>
    </div>
    </div>
