{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        {%block title%}{% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" media="screen" href="/static/dashboard/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/css/bootstrap-theme.min.css">

        {%block css%} {%endblock%}
        <!-- Bootstrap Admin Theme -->
        <link rel="stylesheet" media="screen" href="/static/dashboard/css/bootstrap-admin-theme.css">

        <link rel="stylesheet" media="screen"
              href="/static/dashboard/css/bootstrap-admin-theme-change-size.css">

        <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
        <link rel="shortcut icon" href="/static/img/hbnn.ico"/>
        <link rel="bookmark" href="/static/img/hbnn.ico"/>
        <!-- Vendors -->
        <script src="/static/jquery/jquery-2.1.3.min.js"></script>
        <script src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        function gotopage() {
            var page = $("#gotopage input").val();
            if(page>{{paginator.num_pages}})
            {
                alert('输入错误！请输入小于总页数的数字！');
            }
            else {
                window.location.href = '?page=' + page;  //重定向
            }
            return false;
        }
    </script>
        {% block js %}{% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
           <script type="text/javascript" src="/static/dashboard/js/html5shiv.js"></script>
           <script type="text/javascript" src="/static/dashboard/js/respond.min.js"></script>
        <![endif]-->
    </head>
<body class="bootstrap-admin-with-small-navbar">


<!-- Additional files for the Highslide popup effect -->
        <!-- small navbar -->
        <nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar-sm" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">


                                <li >
                                    <a href="#"><i class="glyphicon glyphicon-user"></i> {{user.username}}</a>
                                   </li>
                                        <li><a href="/account/logout/">退出</a></li>
                                 <li>
                                    <a href="/">回到首页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- main / large navbar -->
        <nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar bootstrap-admin-navbar-under-small" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Dashboard</a>
                        </div>
                        <div class="collapse navbar-collapse main-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="/">首页</a></li>
                                <li class="active"><a href="/dashboard/">后台管理</a></li>
                                <li><a href="/job/">工作信息</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </div><!-- /.container -->
        </nav>

        <div class="container">
            <!-- left, vertical navbar & content -->
            <div class="row">
                <script type="text/javascript" src="/static/js/control_nav.js"></script>
                <!-- left, vertical navbar -->
                <div class="col-md-3 bootstrap-admin-col-left">
                    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side navbar-dashboard">
                        <li>
                            <a href="/article/blogintroduce.html"><i class="glyphicon glyphicon-chevron-right"></i> 网站介绍</a>
                        </li>
                        <li>
                            <a href="/dashboard/"><i class="glyphicon glyphicon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li class="usercontrol">
                            <a href="#"><i class="glyphicon glyphicon-chevron-down"></i> 用户管理</a>
                            <ul class="nav navbar-collapse bootstrap-admin-navbar-side">
                                <li><a href="/account/changepassword/"><i class="glyphicon glyphicon-chevron-right"></i> 修改密码</a></li>
                                <li><a href="/account/userprofile/"><i class="glyphicon glyphicon-chevron-right"></i>修改个人资料 </a></li>
                            </ul>
                        </li>
                         <li class="usercontrol">
                            <a href="#"><i class="glyphicon glyphicon-chevron-down"></i> 文章</a>
                            <ul class="nav navbar-collapse bootstrap-admin-navbar-side">
                                <li><a href="/dashboard/article/add/"><i class="glyphicon glyphicon-chevron-right"></i> 添加文章</a></li>
                                <li><a href="/dashboard/articles/"><i class="glyphicon glyphicon-chevron-right"></i>文章管理</a></li>
                                {# <li><a href="/dashboard/wechat/"><i class="glyphicon glyphicon-chevron-right"></i>微信收藏文章</a></li>#}                            </ul>
                        </li>
                         <li>
                            <a href="/job/"><i class="glyphicon glyphicon-chevron-right"></i>招聘信息</a>
                        </li>
                        <li>
                            <a href="/advise/"><i class="glyphicon glyphicon-chevron-right"></i>发邮件给博主</a>
                        </li>
                    </ul>
                </div>

                <!-- content -->
                <div class="col-md-9">
                   {%block content%}
                 {% endblock %}
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer class="dashfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                            <p>版权所有 © 2016-2017 hbnnforever.cn All right Reserved. </p>
             <p><a href="http://www.miitbeian.gov.cn/">京ICP备17048457号</a></p>
                    </div>
                    <div class="col-md-4">
                             <p>基于Nginx + supervisor + gunicorn + Django搭建</p>
             <p>静态存储为tencent云存储</p>
                    </div>
                     <div class="col-md-4">
                            <ul class="footerli" style="text-align:left ">
              <li><a href="http://dailyblog.applinzi.com/author/">作者介绍</a></li>
             <li><a href="http://weibo.com/2721409931/profile?topnav=1&wvr=6&is_all=1#_rnd1458175873657">微博</a></li>
             <li><a href="https://www.github.com/haipersist">Github</a></li>
             <li><a href="http://hbnnlove.sinaapp.com">我的Flask博客</a></li>
                    </div>
                </div>
            </div>
        </footer>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="/static/dashboard/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/js/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/js/bootstrap-admin-theme-change-size.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
        {%block bodyscript %} {% endblock %}
        <script type="text/javascript">
            $(function() {
                // Easy pie charts
                $('.easyPieChart').easyPieChart({animate: 1000});
            });
        </script>
    </body>
</html>