{% extends "dashboard/base.html" %}

{% block title %}<title>Dashboard</title>{% endblock %}
{%block css %}
 <link rel="stylesheet" media="screen" href="/static/dashboard/css/custom.css">
 <link rel="stylesheet" href="/static/css/dashboard.css">
 <link rel="stylesheet" media="screen" href="/static/dashboard/vendors/easypiechart/jquery.easy-pie-chart.css">
<link rel="stylesheet" media="screen" href="/static/dashboard/vendors/easypiechart/jquery.easy-pie-chart_custom.css">

{%endblock%}


{% block js %}
  <script type="text/javascript" src="/static/jquery/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>

  <script type="text/javascript">
  $(function() {
    function submit_form(e) {
        $.getJSON('/dashboard/uidarticles/',
        function(result) {
			$('#linecontainer').highcharts({
                title: {
                    text: '文章统计',
                    x: -20 //center
                },
                subtitle: {
                    text: '统计月发表文章数',
                    x: -20
                },
                xAxis: {
                    categories: result.months
                },
                yAxis: {
                    title: {
                        text: '篇'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '篇'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: '文章数',
                    data: result.count
                }
                ]
            });
        });

    }
	submit_form();
    // 绑定click事件
    //$('#display').bind('click', submit_form);
});

  </script>
{% endblock %}


{% block content %}

          <div class="row">
                <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">个人信息</div>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                    <ul>
                                        <li>用户名：{{ user.username }}</li>
                                        <br>
                                        <li>注册时间：{{ user.date_joined|date:"Y-m-d" }}</li>
                                        <br>
                                        <li>最后登录时间：{{ user.last_login|date:"Y-m-d" }}</li>

                                    </ul>

                                </div>
                            </div>
                        </div>
               <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">统计信息</div>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                     <ul>
                                        <li>文章总数：{{ article_list_length }}</li>
                                         <br>
                                          <li>分类：
                                        {% for category in categories %}
                                              <a href="{% url 'category-article-list-view' category.alias%}" class="{%if forloop.counter0%}hidden-xs{%endif%} ">
                    <span class="label label-dailyblog-{{forloop.counter}} btn">{{category.name}}</span>
                </a>
                                        {% endfor %}</li>
                                         <br>
                                        <li>最后发表时间：{{ last_pub_time|date:"Y-m-d" }}</li>

                                    </ul>

                                </div>
                            </div>
                        </div>
          </div>

         <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">发布文章时间图</div>
                                </div>
                                <div id="linetitle"></div>
                                <div id="linecontainer"></div>
                            </div>
                        </div>
          </div>

         <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">文章列表</div>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>标题</th>
                                                <th>分类</th>
                                                <th>标签</th>
                                                <th>发表时间</th>
                                                <th>访问量</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for article in article_list %}
                                                <tr>
                                                    <td>{{ article.title }}</td>
                                                    <td>{{ article.category}}</td>
                                                    <td>{{ article.tags}}</td>
                                                    <td>{{ article.pub_time|date:"Y-m-d"}}</td>
                                                    <td>{{ article.read_times}}</td>
                                                </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
         </div>

{% endblock %}