<div id="dailyblog-search">
    <div class="search">
        <form class="form-inline clearfix" role="form" method="get" action="/">
            <div class="row">
            <div class="input-field col s9">
            <input type="text"  value="" name="keyword" id="keyword">
            <label style="color:#d3ab10 " for="keyword">请输入关键词</label>
                </div>
            <div class="input-field col s2" style="margin-left: 3%">
            <button type="submit" class="btn">搜索</button>
                </div>
            </div>
        </form>
    </div>
</div>