<div id="blog">
    <div class="panel panel-dailyblog">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-user"></span>
                作者简介
            </h3>
        </div>
        <ul id="author_info_list" class="list-group collapse in">
             <li class="list-group-item"><strong>姓名：</strong>王海波</li>
            <li class="list-group-item"><strong>学历：</strong>硕士研究生</li>
            <li class="list-group-item"><strong>毕业院校：</strong>北京交通大学</li>
            <li class="list-group-item"><strong>E-mail：</strong>393993705@qq.com</li>
            <li class="list-group-item"><strong>更多信息：</strong><a class="author" href="/author/">作者介绍</a> </li>
            <li class="list-group-item"><img src="/static/img/jiaoda.jpg" width="98%"></li>
        </ul>
    </div>
</div>


