<div id="backheader" class="carousel slide" data-ride="carousel">
   <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-12">
                    <div class="site-heading">
                        <h1 style="font-family: STXingkai ;color: rgba(246, 249, 65, 0.72)">欢迎访问我的网站，光临我的世界！</h1>
                        <hr class="small">
                         <p style="font-family: STKaiti ;color: #ffffff ;font-size: 22px">{{logion}}</p>
                    </div>
                </div>
            </div>
        </div>
</div>
