
<hr>

<div class="row">
<div class="col-xs-6 col-md-4" id="index-desc">
          <h2 class="featurette-heading" style="font-family: STkaiti;margin-bottom:25px">我的篮球视频<span class="text-muted"></span></h2>
          <p class="lead">我的第一个篮球集锦，很兴奋，哈哈！</p>
          <p class="lead">篮球是我一生的爱好，我会一直打到我打不动为止；</p>
</div>
<div class="col-xs-12 col-md-8">
<video  align="center" width="100%" controls>
<source src="http://qiniu.reee.cn/mp4/171031/CG00006/171031215417/77dce339c4e44c4db4eaa22e51660097/HONOR_DUK-AL20_70_361.mp4" type="video/mp4">
	bastetball video can not be loaded
</video>

</div>

