{% url 'category-article-list-view' post.category.alias as category_url %}
{% url 'article-detail-view' post.alias as article_url %}

<div class="home-post well clearfix">
    <div class="post-title underline clearfix">
        <a href="{{category_url}}">
            <div class="pre-cat">
                <div class="pre-catinner btn">
                    {{post.category}}
                </div>
                <div class="pre-catarrow">
                </div>
            </div>
        </a>
        <h1>
            <a href="{{article_url}}">{{post.title}}</a>
        </h1>
        <div class="post-info">
            <span>
                <span class="glyphicon glyphicon-calendar"></span>
                {{post.create_time|date:"Y-m-d" }}
            </span>
            <span>
                <span class="glyphicon glyphicon-eye-open"></span>
                {{post.read_times}}
            </span>
            <div class="post-tags">
                {% for tag in post.tag_list%}
                <a href="{% url 'tag-article-list-view' tag%}" class="{%if forloop.counter0%}hidden-xs{%endif%} ">
                    <span class="label label-dailyblog-{{forloop.counter}} btn">{{tag}}</span>
                </a>
                {% endfor %}
                <a class="visible-xs-inline-block">
                    <span class="label label-dailyblog-2 btn ">...</span>
                </a>
 
            </div>

        </div>
    </div>
    <div class="post-content">
        <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-11">
                <p>
                {{post.abstract|slice:"200" |safe}}
                </p>

            </div>
        </div>
    </div>
                <a type="button" class="btn btn-dailyblog pull-right"  href="{{article_url}}">阅读全文</a>

</div>


