
<div id="categories_sidebar">
    <div class="panel panel-dailyblog">

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active" style="color: #cba00d"><a href="#tab1" data-toggle="tab">热门文章</a></li>
            <li style="color: #cba00d"><a href="#tab2"  data-toggle="tab">最新文章</a></li>
          </ul>
        </div>

      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <ul id="hottest-article-list" class="list-group collapse in">
              </ul>
        </div>
        <div class="tab-pane" id="tab2">
          <ul id="latest-article-list" class="list-group collapse in">
              </ul>
        </div>
      </div>
    </div>
    </div>
</div>





