<div id="comment">
    <div class="panel panel-dailyblog">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-comment"></span>
                最新评论
                <span class="glyphicon glyphicon-remove btn panel-close pull-right" data-dismiss="alert"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#latest-comment-list"></span>
            </h3>
        </div>
         <div id="latest-comment-list" class="list-group collapse in">
         <!-- 多说最新评论 start -->
            <div class="ds-recent-comments" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
        <!-- 多说最新评论 end -->
         </div>
    </div>     
</div>
