{% url 'index-view' as index_url %}
{% url 'changepwd-view' as changepwd_url %}



<header id="top" class="navbar navbar-default navbar-fixed-top navbar-dailyblog">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">{{website_name}}</div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                <a href="{{index_url}}">
                    <span class="glyphicon glyphicon-home"></span>
                    首页
                </a>
                </li>

            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <span class="glyphicon glyphicon-list"></span>
                    导航</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% for category in categories %}
                      <li><a href="{% url 'category-article-list-view' category.alias%}">{{category.name}}</a></li>
                      {% endfor %}
                  </ul>
            </li>
            <li>
                <a href="{% url 'category-article-list-view' 'Django'%}">
                    Django
                </a>
                </li>
            <li>
                <a href="{% url 'category-article-list-view' 'web'%}">
                    Web开发
                </a>
                </li>
                 <li>
                <a href="{% url 'category-article-list-view' 'dairy'%}">
                    随笔
                </a>
                </li>
                 <li>
                <a href="/author/">
                    作者介绍
                </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                <li>
                    <a  id="nav-login" data-toggle="modal" data-target="#login-modal"  style="padding-right:0px;cursor:pointer;">
                    登录
                    </a>
                </li>
                <li>
                    <a  href="/account/register" style="padding-right:0px;cursor:pointer">
                    注册
                    </a>
                </li>
                {%else%}
                <li class="dropdown">
                <a href="javascript:;" style="padding:5px;" data-toggle="dropdown">
                        <img src="/static/img/hbnn.ico" alt="" width="30" height="30">
                        &nbsp;{{user.username}}
                        <span class="badge" style="background-color: #D94600;">{{notification_count}}</span>
                </a>
                <ul class="dropdown-menu navbar-right">
                 <li><a href="/dashboard/">
                        <span class="glyphicon glyphicon-user"></span>
                         个人后台管理</a></li>
                    <li><a id="logout" href="javascript:;">
                        <span class="glyphicon glyphicon-log-out"></span>
                        退出</a></li>
                </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   用户登录
                </h4>
            </div>
            <div class="modal-body clearfix">
                <form id="login-form" class="form-horizontal" method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login-username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="login-username"
                            placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login-password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="login-password"
                            placeholder="请输入密码">
                        </div>
                    </div>
                    <a href="/account/forgetpasswd/" type="button" class="btn btn-link" style="color: #ea341b">忘记密码?</a>
                    <button id="login-button" type="submit" class="btn btn-primary">
                        登录
                    </button>
                   {# <div id="forgetpassword"><a href="/account/login">关闭登录栏</a></div> #}
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   用户注册
                </h4>
            </div>

            <div class="modal-body clearfix">
                <form id="register-form" class="form-horizontal" method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="register-username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="register-username"
                            placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-email" class="col-sm-2 control-label">email</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="register-email"
                            placeholder="请输入email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-password-1" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="register-password-1"
                            placeholder="请输入密码">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="register-password-2" class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="register-password-2"
                            placeholder="请再次输入密码">
                        </div>
                    </div>



                    <button id="register-button" type="submit" class="btn btn-primary pull-right">
                        注册
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $('#login-form').submit(function(){
        $.ajax({
            type:"POST",
            url:"/logins/",
            data:{"username":$("#login-username").val(),"password":$("#login-password").val()},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success:function(data,textStatus){
                var errors = data["errors"];
                if(errors.length==0){
                    location.reload();
                }
                else{
                    //alert(errors);
                    var html = "<div class=\"alert alert-danger\">"
                    for (var key in errors){
                        html += errors[key]+"<br/>";
                    }
                    html += "</div>";
                    $("#login-modal .modal-header").after(html);
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }

        });
        return false;
    });
 $("#login-button").click(function(){
        $("#login-modal .alert").remove();
    });


    $("#logout").click(function(){
        $.ajax({
            type:"GET",
            url:"/account/logout",
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));  
            },
            success:function(data,textStatus){
                location.replace("/"); 
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }
        });
        return false;
    });
</script>
