Django==1.9.6
django-filter==0.13.0
django-filters==0.2.1
djangorestframework==3.3.3
ecdsa==0.13
Fabric==1.11.1
gevent==1.1.1
greenlet==0.4.10
gunicorn==19.6.0
itsdangerous==0.24
Markdown==2.6.6
meld3==1.0.2
MySQL-python==1.2.5
paramiko==1.17.0
pycrypto==2.6.1
requests==2.10.0
supervisor==3.3.0
uWSGI==2.0.12
qrcode
six==1.9.0
Pillow==2.8.1
BeautifulSoup==3.2.1
python-memcached==1.53
django-ipware
weibo
markupsafe
chardet
html5lib



