{% extends "dashboard/base.html" %}

{% block title %}<title>Dashboard</title>{% endblock %}
{%block css %}
 <!-- Vendors -->
        <link rel="stylesheet" media="screen" href="/static/dashboard/css/datepicker.fixes.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/vendors/uniform/themes/default/css/uniform.default.min.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/css/uniform.default.fixes.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/vendors/chosen.min.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/vendors/selectize/dist/css/selectize.bootstrap3.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/core-b3.css">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/jquery/jquery-2.1.3.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.css" rel="stylesheet">
 <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
 <script type="text/javascript">
    $(function() {

        $("#datepicker").datepicker(
                {
                    format:'yyyy-mm-dd'
                }
        );

    });
 </script>
{%endblock%}




{%block content %}

  <div class="row">
    <div class="col-lg-12">
        {% if written %}
        <h1 align="center"> 文章已成功添加</h1>
        {% else %}
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">添加文章</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <form class="form-horizontal" method="post" action="">
                     {% csrf_token %}
                    <fieldset>
                        <legend>文章编辑</legend>
                        {% for error in errors %}
                         <p style="color: #e63c16" >{{error}}</p>
                        {% endfor %}
                        {{ form.errors }}
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="typeahead">标题*</label>
                            <div class="col-lg-10">
                                {{ form.title.errors }}
                               {{ form.title }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="typeahead2">英文标题*</label>
                            <div class="col-lg-10">
                            {{ form.alias.errors }}
                               {{ form.alias }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="textarea-wysihtml5">正文*</label>
                            <div class="col-lg-10">
                                {{ form.content.errors }}
                                {{ form.media }}
                                {{ form.content }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="textarea-wysihtml5">概要*</label>
                            {{ form.abstract.errors }}
                            {{ form.abstract }}
                        </div>
                         <div class="form-group">
                            <label class="col-lg-2 control-label" for="typeahead2">旅游日期*</label>
                            <div class="col-lg-10">
                               <input type="text"  id="datepicker" name="trip_date" value="">
                                <p class="help-block">填写游记时添加.</p>

                            </div>
                        </div>
                      <div class="form-group">
                            <label class="col-lg-2 control-label" for="typeahead2">标签*</label>
                            <div class="col-lg-10">
                                {{ form.tags.errors }}
                                {{form.tags}}
                                <p class="help-block">用逗号隔开，逗号是英文逗号.</p>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="select02">分类</label>
                            <div class="col-lg-10">
                                <select id="select02" class="selectize-select" name="category" style="width: 150px">
                                    {% for category in categories %}
                                        <option value={{category.id}}>{{category.name}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-lg-2 control-label" for="select02">是否公开</label>
                            <div class="col-lg-10">
                                <select id="select02" class="selectize-select" name="access" style="width: 150px">
                                    <option value="100">是</option>
                                    <option value="200">否</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
  </div>

{%endblock%}

{%block bodyscript %}
        <script type="text/javascript" src="/static/dashboard/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/js/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/js/bootstrap-admin-theme-change-size.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/uniform/jquery.uniform.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/chosen.jquery.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/selectize/dist/js/standalone/selectize.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/javascripts/bootstrap-wysihtml5/wysihtml5.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/javascripts/bootstrap-wysihtml5/core-b3.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/twitter-bootstrap-wizard/jquery.bootstrap.wizard-for.bootstrap3.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/boostrap3-typeahead/bootstrap3-typeahead.min.js"></script>

        <script type="text/javascript">
            $(function() {
                $('.datepicker').datepicker();
                $('.uniform_on').uniform();
                $('.chzn-select').chosen();
                $('.selectize-select').selectize();
                $('.textarea-wysihtml5').wysihtml5({
                    stylesheets: [
                        'vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/wysiwyg-color.css'
                    ]
                });

                $('#rootwizard').bootstrapWizard({
                    'nextSelector': '.next',
                    'previousSelector': '.previous',
                    onNext: function(tab, navigation, index) {
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#rootwizard').find('.progress-bar').css('width', $percent + '%');
                        // If it's the last tab then hide the last button and show the finish instead
                        if ($current >= $total) {
                            $('#rootwizard').find('.pager .next').hide();
                            $('#rootwizard').find('.pager .finish').show();
                            $('#rootwizard').find('.pager .finish').removeClass('disabled');
                        } else {
                            $('#rootwizard').find('.pager .next').show();
                            $('#rootwizard').find('.pager .finish').hide();
                        }
                    },
                    onPrevious: function(tab, navigation, index) {
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#rootwizard').find('.progress-bar').css('width', $percent + '%');
                        // If it's the last tab then hide the last button and show the finish instead
                        if ($current >= $total) {
                            $('#rootwizard').find('.pager .next').hide();
                            $('#rootwizard').find('.pager .finish').show();
                            $('#rootwizard').find('.pager .finish').removeClass('disabled');
                        } else {
                            $('#rootwizard').find('.pager .next').show();
                            $('#rootwizard').find('.pager .finish').hide();
                        }
                    },
                    onTabShow: function(tab, navigation, index) {
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#rootwizard').find('.bar').css({width: $percent + '%'});
                    }
                });
                $('#rootwizard .finish').click(function() {
                    alert('Finished!, Starting over!');
                    $('#rootwizard').find('a[href*=\'tab1\']').trigger('click');
                });
            });
        </script>
{% endblock %}