{% extends "dashboard/base.html" %}

{% block title %}<title>Dashboard</title>{% endblock %}
{%block css %}
 <!-- Vendors -->
        <link rel="stylesheet" media="screen" href="/static/dashboard/vendors/bootstrap-datepicker/css/datepicker.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/css/datepicker.fixes.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/vendors/uniform/themes/default/css/uniform.default.min.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/css/uniform.default.fixes.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/vendors/chosen.min.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/vendors/selectize/dist/css/selectize.bootstrap3.css">
        <link rel="stylesheet" media="screen" href="/static/dashboard/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/core-b3.css">

{%endblock%}



{%block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">个人信息</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <div class="form-horizontal">
                        <fieldset>
                            <legend>用户基本信息</legend>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="focusedInput">用户名：</label>
                                <div class="col-lg-10">
                                  {{user.username}}
                                </div>
                            </div>
                              <div class="form-group">
                                <label class="col-lg-2 control-label" for="focusedInput">邮件:</label>
                                <div class="col-lg-10">
                                  {{user.email}}
                                </div>
                            </div>
                              <div class="form-group">
                                <label class="col-lg-2 control-label" for="focusedInput">最后登录时间：</label>
                                <div class="col-lg-10">
                                  {{ user.last_login|date:"Y-m-d" }}
                                </div>
                            </div>
                              <div class="form-group">
                                <label class="col-lg-2 control-label" for="focusedInput">注册时间：</label>
                                <div class="col-lg-10">
                                  {{ user.date_joined|date:"Y-m-d" }}
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>
                           <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <form class="form-horizontal" method="post" action="">
                        {% csrf_token %}
                        <fieldset>
                            <legend>修改信息</legend>
                              <div class="form-group">
                                {{user_form.last_name.errors}}
                                <label class="col-lg-2 control-label" for="focusedInput">姓氏：</label>
                                <div class="col-lg-10">
                                   {% csrf_token %}
                                  {{user_form.last_name}}
                                </div>
                            </div>
                              <div class="form-group">
                                {{user_form.first_name.errors}}
                                <label class="col-lg-2 control-label" for="focusedInput">名字：</label>
                                <div class="col-lg-10">
                                   {% csrf_token %}
                                  {{user_form.first_name}}
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary pull-right">确认修改</button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
{%endblock%}

{%block bodyscript %}
        <script type="text/javascript" src="/static/dashboard/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/js/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/js/bootstrap-admin-theme-change-size.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/uniform/jquery.uniform.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/chosen.jquery.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/selectize/dist/js/standalone/selectize.min.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/javascripts/bootstrap-wysihtml5/wysihtml5.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/javascripts/bootstrap-wysihtml5/core-b3.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/twitter-bootstrap-wizard/jquery.bootstrap.wizard-for.bootstrap3.js"></script>
        <script type="text/javascript" src="/static/dashboard/vendors/boostrap3-typeahead/bootstrap3-typeahead.min.js"></script>

        <script type="text/javascript">
            $(function() {
                $('.datepicker').datepicker();
                $('.uniform_on').uniform();
                $('.chzn-select').chosen();
                $('.selectize-select').selectize();
                $('.textarea-wysihtml5').wysihtml5({
                    stylesheets: [
                        'vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/wysiwyg-color.css'
                    ]
                });

                $('#rootwizard').bootstrapWizard({
                    'nextSelector': '.next',
                    'previousSelector': '.previous',
                    onNext: function(tab, navigation, index) {
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#rootwizard').find('.progress-bar').css('width', $percent + '%');
                        // If it's the last tab then hide the last button and show the finish instead
                        if ($current >= $total) {
                            $('#rootwizard').find('.pager .next').hide();
                            $('#rootwizard').find('.pager .finish').show();
                            $('#rootwizard').find('.pager .finish').removeClass('disabled');
                        } else {
                            $('#rootwizard').find('.pager .next').show();
                            $('#rootwizard').find('.pager .finish').hide();
                        }
                    },
                    onPrevious: function(tab, navigation, index) {
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#rootwizard').find('.progress-bar').css('width', $percent + '%');
                        // If it's the last tab then hide the last button and show the finish instead
                        if ($current >= $total) {
                            $('#rootwizard').find('.pager .next').hide();
                            $('#rootwizard').find('.pager .finish').show();
                            $('#rootwizard').find('.pager .finish').removeClass('disabled');
                        } else {
                            $('#rootwizard').find('.pager .next').show();
                            $('#rootwizard').find('.pager .finish').hide();
                        }
                    },
                    onTabShow: function(tab, navigation, index) {
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#rootwizard').find('.bar').css({width: $percent + '%'});
                    }
                });
                $('#rootwizard .finish').click(function() {
                    alert('Finished!, Starting over!');
                    $('#rootwizard').find('a[href*=\'tab1\']').trigger('click');
                });
            });
        </script>
{% endblock %}